{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer aria-labelledby="footer-heading" class="bg-white">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="py-20 xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="grid grid-cols-2 gap-8 xl:col-span-2">
        <div class="space-y-16 md:grid md:grid-cols-2 md:gap-8 md:space-y-0">
          <div>
            <h3 class="text-sm font-medium text-gray-900">Shop</h3>
            <ul role="list" class="mt-6 space-y-6">
              <li class="text-sm">
                <a href="#" class="text-gray-500 hover:text-gray-600">Bags</a>
              </li>
              <li class="text-sm">
                <a href="#" class="text-gray-500 hover:text-gray-600">Tees</a>
              </li>
              <li class="text-sm">
                <a href="#" class="text-gray-500 hover:text-gray-600">Objects</a>
              </li>
              <li class="text-sm">
                <a href="#" class="text-gray-500 hover:text-gray-600">Home Goods</a>
              </li>
              <li class="text-sm">
                <a href="#" class="text-gray-500 hover:text-gray-600">Accessories</a>
              </li>
            </ul>
          </div>
          <div>
            <h3 class="text-sm font-medium text-gray-900">Company</h3>
            <ul role="list" class="mt-6 space-y-6">
              <li class="text-sm">
                <a href="#" class="text-gray-500 hover:text-gray-600">Who we are</a>
              </li>
              <li class="text-sm">
                <a href="#" class="text-gray-500 hover:text-gray-600">Sustainability</a>
              </li>
              <li class="text-sm">
                <a href="#" class="text-gray-500 hover:text-gray-600">Press</a>
              </li>
              <li class="text-sm">
                <a href="#" class="text-gray-500 hover:text-gray-600">Careers</a>
              </li>
              <li class="text-sm">
                <a href="#" class="text-gray-500 hover:text-gray-600">Terms &amp; Conditions</a>
              </li>
              <li class="text-sm">
                <a href="#" class="text-gray-500 hover:text-gray-600">Privacy</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="space-y-16 md:grid md:grid-cols-2 md:gap-8 md:space-y-0">
          <div>
            <h3 class="text-sm font-medium text-gray-900">Account</h3>
            <ul role="list" class="mt-6 space-y-6">
              <li class="text-sm">
                <a href="#" class="text-gray-500 hover:text-gray-600">Manage Account</a>
              </li>
              <li class="text-sm">
                <a href="#" class="text-gray-500 hover:text-gray-600">Returns &amp; Exchanges</a>
              </li>
              <li class="text-sm">
                <a href="#" class="text-gray-500 hover:text-gray-600">Redeem a Gift Card</a>
              </li>
            </ul>
          </div>
          <div>
            <h3 class="text-sm font-medium text-gray-900">Connect</h3>
            <ul role="list" class="mt-6 space-y-6">
              <li class="text-sm">
                <a href="#" class="text-gray-500 hover:text-gray-600">Contact Us</a>
              </li>
              <li class="text-sm">
                <a href="#" class="text-gray-500 hover:text-gray-600">Twitter</a>
              </li>
              <li class="text-sm">
                <a href="#" class="text-gray-500 hover:text-gray-600">Instagram</a>
              </li>
              <li class="text-sm">
                <a href="#" class="text-gray-500 hover:text-gray-600">Pinterest</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mt-16 md:mt-16 xl:mt-0">
        <h3 class="text-sm font-medium text-gray-900">Sign up for our newsletter</h3>
        <p class="mt-6 text-sm text-gray-500">The latest deals and savings, sent to your inbox weekly.</p>
        <form class="mt-2 flex sm:max-w-md">
          <label for="email-address" class="sr-only">Email address</label>
          <input id="email-address" type="text" autocomplete="email" required class="w-full min-w-0 appearance-none rounded-md border border-gray-300 bg-white px-4 py-2 text-base text-indigo-500 placeholder-gray-500 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500">
          <div class="ml-4 flex-shrink-0">
            <button type="submit" class="flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Sign up</button>
          </div>
        </form>
      </div>
    </div>

    <div class="border-t border-gray-200 py-10">
      <p class="text-sm text-gray-500">Copyright &copy; 2021 Your Company, Inc.</p>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content",
      "info": "t:sections.footer.settings.header__9.info"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__8.content",
      "info": "t:sections.footer.settings.header__8.info"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": false,
      "label": "t:sections.footer.settings.show_policy.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
